body{
    font-family: 'Poppins', sans-serif;
font-family: 'Shippori Mincho', serif;
}
/*section one start */
p{
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
h1{
    font-family: 'Poppins', sans-serif;
    font-family: 'Shippori Mincho', serif;
font-size: 50px;
font-weight:bolder;
margin-left: 10px;

}
h3{
    font-family: roboto;
    font-size: 20px;
    font-weight:bold;
}
.one{
    display: flex;
}
.pavel{
    width: 50%;
    margin-left: 200px;
    margin-top: 120px;
    margin-right: 200px;
}
.fahim{width: 50%;
margin-right: 200px;

}
.fahim img{
    width: 90%;
    
    
}
.button{
    background-color: crimson;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 7px;
    font-family: roboto;

}
.left{
    border-left: 3px solid crimson;
    
    
}
/*section one end*/
/*section two start*/
.two{
    display: flex;
    
}
.ppp{
    margin: 100px 100px;
    background-color: cornsilk;
    padding: 20px;
    border-radius: 20px;
    
}
.ppp img{
    width: 40%;
}
#nnn{
    display: inline-block;
    margin-left: 700px;
    font-family: roboto;
}
.ttt{
    margin-left: 25px;
}
/*section two end*/
/*section three start*/
.three{
    display: flex;
    
    background-position:left center;
    margin-bottom: 100px;

}
.img{
    width: 50%;
    
    
    
}
.img img{
    width: 50%;
    margin-left: 300px;
}
.content{
    width: 50%;
    
    
    
    
    
}
h2{
    font-family: roboto;
    font-size: 50px;
    
}
.sss{
    
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
/*section three end*/
/*section four start*/
.morning{
    display: flex;
    
   
    
}
.photo{
    width: 50%;

   
    
}
.photo img{
    width: 50%;
    margin-left: 100px;
}
.service{
    width: 50%;
    

}
.mmm{
    margin-left: 200px;
    margin-top: 100px;
    margin-right: 50px;
}
/*section four end*/
/*section five start*/
.project{
    display: flex;
    margin-top: 100px;
}
.bbb{
    width: 50%;
}
.bbb img{
    width: 50%;
    margin-left: 200px;
}
.aaa{
    width: 50%;
    margin-top: 100px;
}


.ccc{
    margin-right: 200px;
    text-align: justify;
}
.button1{
    border: 2px solid #FFB100;
    text-decoration: none;
    background-color:crimson;
    padding: 10px 30px;
    border-radius: 7px;
    color: #fff;
}